In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = 'CA01 Bitcoin Ethereum Dataset.csv'
data = pd.read_csv(file_path)

In [3]:
data.shape

(8011, 6)

In [4]:
data.describe

<bound method NDFrame.describe of             Date Coin      Open      High       Low     Close
0     12/01/2023  Eth  2,046.20  2,109.79  2,041.36  2,091.25
1     11/30/2023  Eth  2,028.52  2,052.12  2,022.81  2,046.19
2     11/29/2023  Eth  2,054.47  2,071.97  2,020.04  2,027.57
3     11/28/2023  Eth  2,014.78  2,076.08  1,996.16  2,054.47
4     11/27/2023  Eth  2,074.18  2,080.54  1,987.31  2,014.87
...          ...  ...       ...       ...       ...       ...
8006         NaN  NaN       NaN       NaN       NaN       NaN
8007         NaN  NaN       NaN       NaN       NaN       NaN
8008         NaN  NaN       NaN       NaN       NaN       NaN
8009         NaN  NaN       NaN       NaN       NaN       NaN
8010         NaN  NaN       NaN       NaN       NaN       NaN

[8011 rows x 6 columns]>

In [5]:
data.head

<bound method NDFrame.head of             Date Coin      Open      High       Low     Close
0     12/01/2023  Eth  2,046.20  2,109.79  2,041.36  2,091.25
1     11/30/2023  Eth  2,028.52  2,052.12  2,022.81  2,046.19
2     11/29/2023  Eth  2,054.47  2,071.97  2,020.04  2,027.57
3     11/28/2023  Eth  2,014.78  2,076.08  1,996.16  2,054.47
4     11/27/2023  Eth  2,074.18  2,080.54  1,987.31  2,014.87
...          ...  ...       ...       ...       ...       ...
8006         NaN  NaN       NaN       NaN       NaN       NaN
8007         NaN  NaN       NaN       NaN       NaN       NaN
8008         NaN  NaN       NaN       NaN       NaN       NaN
8009         NaN  NaN       NaN       NaN       NaN       NaN
8010         NaN  NaN       NaN       NaN       NaN       NaN

[8011 rows x 6 columns]>

In [6]:
data.tail

<bound method NDFrame.tail of             Date Coin      Open      High       Low     Close
0     12/01/2023  Eth  2,046.20  2,109.79  2,041.36  2,091.25
1     11/30/2023  Eth  2,028.52  2,052.12  2,022.81  2,046.19
2     11/29/2023  Eth  2,054.47  2,071.97  2,020.04  2,027.57
3     11/28/2023  Eth  2,014.78  2,076.08  1,996.16  2,054.47
4     11/27/2023  Eth  2,074.18  2,080.54  1,987.31  2,014.87
...          ...  ...       ...       ...       ...       ...
8006         NaN  NaN       NaN       NaN       NaN       NaN
8007         NaN  NaN       NaN       NaN       NaN       NaN
8008         NaN  NaN       NaN       NaN       NaN       NaN
8009         NaN  NaN       NaN       NaN       NaN       NaN
8010         NaN  NaN       NaN       NaN       NaN       NaN

[8011 rows x 6 columns]>

In [7]:
data['Date'] = pd.to_datetime(data['Date'])

C:\Users\Luke Holmes\AppData\Local\Temp\ipykernel_9816\1258276688.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Date'] = pd.to_datetime(data['Date'])

In [8]:
price_columns = ['Open', 'High', 'Low', 'Close']
for col in price_columns:
    data[col] = data[col].str.replace(',', '').astype(float)

In [9]:
missing_values = data.isnull().sum()

In [10]:
missing_values = data.isnull().sum()

In [11]:
data_cleaned_drop = data.dropna()

In [12]:
data_cleaned_fill = data.copy()
for col in price_columns:
    data_cleaned_fill[col] = data_cleaned_fill[col].fillna(data_cleaned_fill[col].mean())

In [13]:
missing_values_drop = data_cleaned_drop.isnull().sum()
missing_values_fill = data_cleaned_fill.isnull().sum()

(missing_values_drop, missing_values_fill)

(Date     0
 Coin     0
 Open     0
 High     0
 Low      0
 Close    0
 dtype: int64,
 Date     131
 Coin     131
 Open       0
 High       0
 Low        0
 Close      0
 dtype: int64)

In [14]:
data_cleaned = data.dropna(subset=['Date', 'Coin'])

In [ ]:
ues_fill)